.ui-autocomplete {
    z-index: 99 !important;
}
.ui-menu-item{
    text-align:left;
    overflow: hidden;
}
.ui-menu-item a {
    overflow: hidden;
}
.ui-autocomplete .product-list	.image {
    float: left;
    margin-right: 5px;	
    margin-bottom: 0;
}
.ui-autocomplete .product-list	.image img {
    border: 1px solid #E7E7E7;
    padding: 0;
}
.ui-autocomplete .product-list	.name {
    color: #38B0E3;
    font-weight: bold;
    text-decoration: none;
    height: 26px;
    overflow: hidden;  
    min-height: 26px;  
    margin: 0;
    padding: 5px 0;
    border: 0;
}
.ui-autocomplete .product-list	.price {
    height: 20px;
    overflow: hidden;
    float: none;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: left;
    display: none;
}
.ui-autocomplete .product-list	.price-old {
    margin-right: 2px;
} 
.ui-autocomplete .product-list	.description,
.ui-autocomplete .product-list	.attributes {
    margin: 0;
    padding: 0;
    overflow: hidden;
    clear: both;
}    