@font-face {
  font-family: "NoticiaText";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Noticia/NoticiaText-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "NoticiaText";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Noticia/NoticiaText-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "BenchNine";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/BenchNine/BenchNine-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "BenchNine";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/BenchNine/BenchNine-Bold.ttf") format("truetype"); }
body {
  background-image: url(../../img/fondo.jpg); }

.content {
  background-image: url(../../img/bg_main.png);
  padding: 10px 9px 1px 9px; }

.border_top {
  border-top: 1px solid #888888;
  margin-top: 20px;
  padding: 15px 4px 8px 26px; }

html {
  font-size: 110%; }

.header {
  background-image: url(../../img/head.png);
  background-size: cover;
  background-position: center center;
  padding: 20px 0px 20px 0px; }
  .header .logo {
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px; 
    /*margin-left: 20px;*/}
  .header .menu_principal {
    margin-bottom: 7px;
    }
    .header .menu_principal ul {
      background: #FFF;
      padding: 5px;
      margin: 0 auto;
      text-align: center;
      border-radius: 4px;
      box-shadow: 0px 1px 3px #333;
      width: 100%;
      /*width: 390px;*/
      height: 40px; }
      .header .menu_principal ul li {
        display: inline-block;
        color: #222;
        margin: 4px 2px; 
        /*margin: 4px 9px; */
      }
        .header .menu_principal ul li a {
          color: #222;
          font-size: 14px;
          font-weight: bold;
          font-family: 'BenchNine', sans-serif;
          /*font-size: 17px;*/
           }
  .header .bienvenido {
    text-align: center;
    font-family: "BenchNine", sans-serif;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 0px #333; }
    .header .bienvenido a {
      color: #fff;
      text-decoration: none; }
  .header .search {
    font-family: "NoticiaText", sans-serif;
    padding: 7px 18px 7px 7px;
    border: 1px solid #555;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    width: 203px;
    box-shadow: inset 0px 0px 5px #888;
    background-color: #FFF; }
  .header .cart {
    color: #fff;
    font-size: 1rem; }
    .header .cart i {
      font-size: 2rem;
      transform: rotateY(180deg);
      vertical-align: middle;
      margin-right: 20px; }
    .header .cart span {
      color: #fff;
      font-size: 15px;
      letter-spacing: -1px;
      text-decoration: none;
      text-shadow: 1px 1px 0px #333;
      font-family: Arial, serif; }
  .header .header_end {
    text-align: center; }
    .header .header_end a {
      background-color: #fff;
      color: #cb0921;
      padding: 8px 13px;
      font-size: 1rem;
      border-radius: 4px;
      box-shadow: 0px 1px 3px #333;
      display: inline-block;
      margin-right: 5px; }

.nav {
  background-image: url(../../img/menu.jpg);
  font-family: "BenchNine", sans-serif;
  height: 60px;
  padding: 0px 5px;
  clear: both; }
  .nav ul li {
    display: inline-block; }
    .nav ul li:hover {
      background-color: #cb0921; }
      .nav ul li:hover .subs {
        display: block; }
    .nav ul li a {
      cursor: pointer;
      color: #fff;
      font-size: 24px;
      line-height: 14px;
      text-decoration: none;
      display: block;
      padding: 24px 12px 22px 12px;
      text-transform: uppercase;
      position: relative;
      text-shadow: 1px 1px 2px #000; }
      .nav ul li a:hover {
        background-color: #cb0921; }
    .nav ul li ul.subs {
      background-color: #FFFFFF;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
      color: #333333;
      left: 0;
      padding: 0;
      position: absolute;
      top: 60px;
      width: 100%;
      z-index: 999;
      display: none; }
      .nav ul li ul.subs > li {
        display: inline-block;
        float: none;
        padding: 0;
        vertical-align: top;
        width: 24.82%;
        border: none;
        margin: 0 0 2px 0; }
        .nav ul li ul.subs > li:hover {
          background-color: #fff; }
        .nav ul li ul.subs > li > a {
          font-size: 16px;
          color: #777777;
          margin-bottom: 0;
          text-transform: uppercase;
          padding: 8px 10px;
          line-height: 18px;
          background: #ececec;
          font-weight: bold;
          text-shadow: none; }
        .nav ul li ul.subs > li ul {
          list-style: none outside none;
          margin: 0;
          padding: 0; }
          .nav ul li ul.subs > li ul li {
            display: block;
            text-decoration: none;
            white-space: normal;
            float: none;
            padding-left: 8px;
            -moz-transition: padding 150ms ease-out 0s;
            -ms-transition: padding 150ms ease-out 0s;
            -o-transition: padding 150ms ease-out 0s;
            -webkit-transition: padding 150ms ease-out 0s;
            transition: padding 150ms ease-out 0s; }
            .nav ul li ul.subs > li ul li:hover {
              padding-left: 12px;
              background-color: #fff; }
              .nav ul li ul.subs > li ul li:hover a {
                color: #cb0921;
                background-color: transparent; }
            .nav ul li ul.subs > li ul li a {
              color: #777777;
              line-height: 15px;
              font-size: 15px;
              padding: 3px;
              text-transform: none;
              text-shadow: none; }

/* ------------------- Section Styling - Not needed for carousel styling ------------------- */
.content .carousel{
  padding: 5px
}
.content .section_carousel {
  background-color: #fff;
  color: #555; }
  .content .section_carousel .container {
    padding: 0;
    width: 100%; }
  .content .section_carousel .carousel-inner {
    border-radius: 15px; }
  .content .section_carousel .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding: 0 0 10px 25px;
    color: #fff;
    text-align: left; }
  .content .section_carousel .carousel-indicators {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    margin: 0;
    padding: 0 25px 25px 0;
    text-align: right; }
  .content .section_carousel .carousel-control.left,
  .content .section_carousel .carousel-control.right {
    background-image: none; }

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto; }

.content .banners {
  margin-top: 2rem; }
  .content .banners img {
    display: block;
    margin: 0 auto;
    border: 1px solid #dddddd;
    width: 100%; }

.content .productos_destacados {
  padding-right: 30px; }
  .content .productos_destacados .product {
    padding-left: 5px;
    padding-right: 5px; }
    .content .productos_destacados .product article {
      font-family: "NoticiaText", sans-serif;
      margin: 0 auto;
      border: 1px solid #dddddd;
      background: #FFF;
      text-align: center;
      padding: 0px 0px 15px 0px;
      width: 100%;
      height: 273px;
      margin-bottom: 1rem; }
      .content .productos_destacados .product article a {
        display: block; }
        .content .productos_destacados .product article a img {
          height: 103px;
          padding: 3px;
          width: auto;}
      .content .productos_destacados .product article .title {
        color: #333;
        font-family: "BenchNine", sans-serif;
        font-size: 17px;
        text-decoration: none;
        padding: 0px 5px;
        display: block;
        letter-spacing: 0px;
        cursor: pointer;
        height: 66px; }
        .content .productos_destacados .product article .title .sku {
          color: #CCC;
          font-family: "BenchNine", sans-serif;
          font-size: 17px;
          text-decoration: none;
          display: block;
          letter-spacing: 0px;
          cursor: pointer; }
      .content .productos_destacados .product article .price {
        font-weight: bold;
        color: #cb0921;
        font-size: 15px;
        margin-bottom: 10px;
        font-family: Arial, serif;
        font-size: 14px; }
      .content .productos_destacados .product article .sucursal {
        font-family: "BenchNine", sans-serif;
        font-size: 17px; }

.content .register .marco {
  padding: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  border: 1px solid #EEEEEE; }
.content .register a {
  color: #cb0921; }
.content .register h1 {
  font-family: "BenchNine", sans-serif; }
.content .register p {
  margin-top: 1rem; }
.content .register input {
  width: 100%;
  margin-top: 10px; }
.content .register select {
  margin-top: 10px; }
.content .register input[type="checkbox"],
.content .register input[type="radio"] {
  width: auto;
  margin-top: 2px; }
.content .register input[type="submit"] {
  font-family: "BenchNine", sans-serif;
  background: #cb0921;
  color: #FFF;
  font-size: 21px;
  border: none;
  text-transform: uppercase;
  padding: 3px 12px;
  text-decoration: none;
  cursor: pointer; }

  .content .login h1 {
    font-family: "BenchNine", sans-serif; }
  .content .login .login_registro {
    font-family: "BenchNine", sans-serif;
    background: #F2F2F2;
    padding: 15px 32px;
    border-radius: 11px;
    border: 1px solid #E3E3E3; }
    .content .login .login_registro .marco {
      padding: 10px;
      overflow: auto;
      margin-bottom: 20px;
      border: 1px solid #EEEEEE; }
      .content .login .login_registro .marco .title {
        font-size: 17px;
        font-weight: 700; }
      .content .login .login_registro .marco .contenido {
        font-size: 17px; }
      .content .login .login_registro .marco a {
        font-family: "BenchNine", sans-serif;
        background: #cb0921;
        color: #FFF;
        font-size: 21px;
        border: none;
        text-transform: uppercase;
        padding: 3px 12px;
        text-decoration: none;
        cursor: pointer; }
  .content .login .login_fields {
    font-family: "BenchNine", sans-serif; }
    .content .login .login_fields .marco {
      padding: 10px;
      overflow: auto;
      margin-bottom: 20px;
      border: 1px solid #EEEEEE; }
      .content .login .login_fields .marco label {
        display: block;
        font-family: arial, sans-serif;
        font-weight: 700; }
      .content .login .login_fields .marco input {
        display: block; }
      .content .login .login_fields .marco input[type="password"] {
        font-family: arial, sans-serif;
        width: 40%; }
      .content .login .login_fields .marco input[type="email"] {
        font-family: arial, sans-serif;
        width: 40%; }
      .content .login .login_fields .marco a {
        color: #cb0921; }
      .content .login .login_fields .marco input[type="submit"] {
        font-family: "BenchNine", sans-serif;
        background: #cb0921;
        color: #FFF;
        font-size: 21px;
        border: none;
        text-transform: uppercase;
        padding: 3px 12px;
        text-decoration: none;
        cursor: pointer; }

.content img {
  width: 100%; }
.content .footer {
  border-top: 1px solid #888888;
  color: #777;
  padding-top: 30px;
  margin-top: 30px; }
  .content .footer .logo{
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px; 
  }
  .content .footer h3 {
    border-bottom: solid 1px #888888; }
  .content .footer ul {
    margin-top: 0px;
    margin-left: 8px;
    padding-left: 0px; }
    .content .footer ul li {
      margin-bottom: 3px;
      padding: 4px 0px;
      list-style-type: none; }
      .content .footer ul li a {
        text-decoration: none;
        color: #777;
        font-size: 16px; }
        .content .footer ul li a:hover {
          text-decoration: underline; }
  .content .footer input[type="email"] {
    padding: 4px 5px;
    font-size: 14px;
    font-family: "NoticiaText", sans-serif;
    margin-bottom: 10px;
    display: block;
    width: 90%; }
  .content .footer input[type="submit"] {
    width: 196px;
    display: inline-block;
    font-size: 23px;
    text-align: center;
    padding: 5px 30px;
    font-family: "BenchNine", sans-serif;
    background: #cb0921;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer; }
    .content .footer input[type="submit"]:hover {
      text-decoration: underline; }

      /*pagination*/
      .content .paginator{
        border-top: 1px solid #EEEEEE;
        padding-top: 8px;
        display: inline-block;width: 100%;
        margin-bottom: 10px;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
      }
      .content .paginator .pagination{
        float: left;
        margin: 0;
      }
      .content .paginator .results{
        float: right;
            padding-top: 3px;
      }
      .content .paginator .pagination>.active>span{
        display: inline-block;
        border: 1px solid #269BC6;
        padding: 4px 10px;
        font-weight: normal;
        text-decoration: none;
        color: #269BC6;
        background: #FFFFFF;
      }
      .content .paginator .pagination .disabled{
        display: none;
      }
      .content .paginator .pagination li a{
        display: inline-block;
        border: 1px solid #EEEEEE;
        padding: 4px 10px;
        text-decoration: none;
        color: #A3A3A3;
      }
/*producto show*/
      .content .product-info{
        overflow: auto;
        margin-bottom: 20px;
      }
      .product-info > .left {
          float: left;
          margin-right: 15px;
      }

      .product-info .image {
          border: 1px solid #E7E7E7;
          float: left;
          margin-bottom: 20px;
          padding: 10px;
          text-align: center;
          width: 260px;
      }

      .product-info > .left + .right {
          margin-left: 265px;
      }
      .product-info .description {
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    padding: 5px 5px 10px 5px;
    margin-bottom: 10px;
    line-height: 20px;
    color: #4D4D4D;
}
.product-info .description span {
    color: #38B0E3;
}
.product-info .description a {
    color: #4D4D4D;
    text-decoration: none;
}
.product-info .price {
    overflow: auto;
    border-bottom: 1px solid #E7E7E7;
    padding: 0px 5px 10px 5px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #333333;
}
.product-info .cart {
    border-bottom: 1px solid #E7E7E7;
    padding: 0px 5px 10px 5px;
    margin-bottom: 20px;
    color: #4D4D4D;
}
.htabs {
    height: 30px;
    line-height: 16px;
    border-bottom: 1px solid #DDDDDD;
}
.htabs a.selected {
    padding-bottom: 7px;
    background: #FFFFFF;
}
.htabs a {
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    background: #FFFFFF url('../../img/tab.png') repeat-x;
    padding: 7px 15px 6px 15px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000000;
    margin-right: 2px;
    display: none;
}
.tab-content {
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding: 10px;
    margin-bottom: 20px;
    z-index: 2;
    xoverflow: auto;
}
/*list categories*/
.box {
    margin-top: 10px;
    margin-bottom: 20px;
}
.box .box-heading {
    font-family: 'BenchNine', sans-serif;
    text-transform: uppercase;
    padding: 8px 10px 7px 10px;
    font-size: 27px;
    color: #444444;
}
.box .box-content {
    padding: 10px;
}
ul.box-category, ul.box-category ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 4px;
}
ul.box-category > li:first-child {
    padding: 0px 8px 8px 0px;
}
ul.box-category > li {
    padding: 0px;
    clear: both;
}
.arrowR {
    background: url('../../img/arrow-r.png') no-repeat 222px 12px;
    cursor: pointer;
}
.box-category p {
    margin: 4px 0px;
}

ul.box-category > li ul {
    display: none;
}
ul.box-category, ul.box-category ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 4px;
}
ul.box-category > li ul > li {
    padding: 0px;
}

ul.box-category > li.active li a, ul.box-category > li li a, ul.box-category > li.active li p, ul.box-category > li li p {
    background-color: transparent;
    padding: 6px 15px;
    margin: 0;
    /* text-decoration: underline; */
    background: url('../../img/arrow-r.png') no-repeat 5px 12px;
    font-family: 'BenchNine', sans-serif;
    font-size: 16px;
}
ul.box-category > li ul ul, ul.box-category > li.active ul ul, ul.box-category > li:hover ul ul {
    display: none;
}
ul.box-category > li ul {
    display: none;
}

ul.box-category, ul.box-category ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 4px;
}
ul.box-category > li ul > li {
    padding: 0px;
}
ul.box-category > li ul > li > a {
    text-decoration: none;
    display: block;
    font-size: 16px;
    color: #414141;
}
ul.box-category > li.active li li a, ul.box-category > li li li a {
    font-size: 16px;
    background: url('../../img/bullet-list-prod.png') no-repeat 0px 12px;
    padding-left: 10px;
    margin-left: 10px;
    text-decoration: none;
    font-family: 'BenchNine', sans-serif;
    padding: 0 15px;
}

ul.box-category > li.active li a, ul.box-category > li li a, ul.box-category > li.active li p, ul.box-category > li li p {
    background-color: transparent;
    padding: 6px 15px;
    margin: 0;
    /* text-decoration: underline; */
    background: url('../../img/arrow-r.png') no-repeat 5px 12px;
    font-family: 'BenchNine', sans-serif;
    font-size: 16px;
}
ul.box-category > li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    padding: 12px 5px;
    display: block;
}
ul.box-category > li + li {
    border-top: 1px solid #EEEEEE;
}

ul.box-category > li {
    padding: 0px;
    clear: both;
}
@media (min-width: 768px) and (max-width: 991px) {
  .header .logo {
    width: 100%; }
  .header .menu_principal ul li a {
    font-size: 17px; }
  .header .header_end {
    text-align: center; }
    .header .header_end a {
      font-size: 1.2rem;
      margin-right: 10px; }

  .section-white {
    padding: 1.5em 0; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .header .logo {
    width: 100%; }
  .header .menu_principal {
    margin: 0; }
    header .menu_principal ul{
    width: 390px;
    }
    .header .menu_principal ul li a {
      margin: 4px 9px; 
      font-size: 17px; }
  .header .header_end {
    text-align: center; }
    .header .header_end a {
      font-size: 1.2rem;
      margin-right: 10px; } 
    .header .cart{
      padding-left: 10px;
    }
    .header .bienvenido{
      font-size: 15px;
    }
    }
@media only screen and (min-width: 1200px) {
  .header .logo {
    width: 100%; }
  header .menu_principal ul{
  width: 390px !important;
  }
  .header .menu_principal ul li a {
    cursor: pointer;
    margin: 4px 9px; 
    font-size: 17px; }
  .header .header_end {
    text-align: center; }
    .header .header_end a {
      font-size: 1.2rem;
      margin-right: 10px; } }
/* Large screens ----------- */
@media only screen and (min-width: 1400px) {
  html {
    font-size: 125%; } }
@media only screen and (min-width: 1500px) {
  html {
    font-size: 130%; } }
@media only screen and (min-width: 1800px) {
  html {
    font-size: 145%; } }

/*# sourceMappingURL=styles.css.map */
